# macOS
.DS_Store

# Qt / QML / CMake build folders
build/
build-*/
*.user
*.autosave
CMakeFiles/
CMakeCache.txt
*.qrc.dep
*.qmlc
*.jsc

# STM32CubeIDE / Keil / Embedded
Debug/
Release/
*.elf
*.map
*.bin
*.hex
*.o
*.list
*.out
.settings/
.metadata/

# Backup
*~
*.log
*.tmp
*.bak
